<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="filter__content">
                <div class="filter__items">
                    <!-- filter item -->
                    <div class="filter__item" id="filter__genre">
                        <span class="filter__item-label">GENRE:</span>

                        <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="Action/Adventure">
                            <span></span>
                        </div>

                        <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
                            <li>Action/Adventure</li>
                            <li>Animals</li>
                            <li>Animation</li>
                            <li>Biography</li>
                            <li>Comedy</li>
                            <li>Cooking</li>
                            <li>Dance</li>
                            <li>Documentary</li>
                            <li>Drama</li>
                            <li>Education</li>
                            <li>Entertainment</li>
                            <li>Family</li>
                            <li>Fantasy</li>
                            <li>History</li>
                            <li>Horror</li>
                            <li>Independent</li>
                            <li>International</li>
                            <li>Kids</li>
                            <li>Kids & Family</li>
                            <li>Medical</li>
                            <li>Military/War</li>
                            <li>Music</li>
                            <li>Musical</li>
                            <li>Mystery/Crime</li>
                            <li>Nature</li>
                            <li>Paranormal</li>
                            <li>Politics</li>
                            <li>Racing</li>
                            <li>Romance</li>
                            <li>Sci-Fi/Horror</li>
                            <li>Science</li>
                            <li>Science Fiction</li>
                            <li>Science/Nature</li>
                            <li>Spanish</li>
                            <li>Travel</li>
                            <li>Western</li>
                        </ul>
                    </div>
                    <!-- end filter item -->

                    <!-- filter item -->
                    <div class="filter__item" id="filter__quality">
                        <span class="filter__item-label">RELEASE YEAR:</span>

                        <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="2025">
                            <span></span>
                        </div>

                        <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-quality">
                            <li>2025</li>
                            <li>2024</li>
                            <li>2023</li>
                            <li>2022</li>
                        </ul>
                    </div>
                    <!-- end filter item -->

                    <!-- filter item -->
                    <div class="filter__item" id="filter__quality">
                        <span class="filter__item-label">SORT BY:</span>

                        <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-quality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <input type="button" value="Popularity (DESC)">
                            <span></span>
                        </div>

                        <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-quality">
                            <li>Popularity (ASC)</li>
                            <li>Popularity (DESC)</li>
                            <li>Rating (ASC)</li>
                            <li>Rating (DESC)</li>
                            <li>Release Date (ASC)</li>
                            <li>Release Date (DESC)</li>
                        </ul>
                    </div>
                    <!-- end filter item -->
                </div>
                
                <!-- filter btn -->
                <button class="filter__btn" type="button">apply filter</button>
                <!-- end filter btn -->
            </div>
        </div>
    </div>
</div>